.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  gap: 20px;
}

.events-title {
  color: rgb(201, 118, 16);
  padding: 20px;
  text-align: center;
  margin: 0;
  font-size: 2em;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 16px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 16px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 16px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
h1 {
  color: aliceblue;
  align-items: center;
  text-align: center;
  font-size: 3em;
  margin-top: 40px;
  text-shadow: 3px 3px grey;
}

@media screen and (max-width: 1000px) {
  .events {
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .events {
    grid-template-columns: 1fr;
  }
}
